<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css'%}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/navbar.css'%}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/projects.css'%}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/project.css'%}">
  <title>Document</title>
</head>
<body>
  <div class="container">
  {% include 'navbar.html' %}

  {% block content %}


  {% endblock %}
  </div>
  <script src="{% static 'javascript/main.js' %}"></script>
</body>
</html>
