.home-card {
  overflow: hidden;
}

.home-card .home-card-pic {
  transition: all 500ms cubic-bezier(.85,0,.15,1);
  animation-delay: .6s;
}
.home-card:hover .home-card-pic {
  -webkit-transform: scale(1.1);
  -webkit-backface-visibility: hidden;
}
