body{
  margin: 0;
  font-family: ubuntu;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1,5;
  color:#6b7c92;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets//bakground2.webp);
  background-size: contain;
  background-repeat: repeat-y;
  opacity: 0.1; /* Adjust the opacity as needed */
  z-index: -1; /* Ensure the background is behind the content */
}


h1,h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: calc(1.35rem + 1.2vw);
  font-weight: 400;
  line-height: 1.2;
  color: #333359;
}

a {
  color:#3174ff;
  text-decoration: none;
}

.text-content {
  text-align: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.61);
  padding: 20px;
  border-radius: 8px;
}

@media (min-width: 1200px) {
  body::before {
    background-repeat: repeat;
  }

  .container{
    margin-top: 3em;
  }
}
