.navbar-large {
  display:none;
}

.navbar-small{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding:15px;
}

.border-bottom {
  border-bottom: 1px solid #d3dbec;
}
.logo {
  max-width: 35%;
  height: auto;
  width: 81vw;
}

.ham-menu {
    background: none;
    border: none;
    font-size: 1.5em;
    flex-direction: column;
    justify-content: space-between;
}

/* Menu Items */
.menu {
  list-style: none;
  width: 80%;
}

.nav-menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 10px 35px 0 rgba(51,51,89,.15);
}

.nav-menu a {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.nav-menu  li {
  border-bottom: 1px solid #d3dbec;
}

.nav-menu  li:last-child {
  border-bottom: none;
}

.nav-menu.active {
  display: flex;
}

@media (max-width: 768px) {

}

@media (min-width: 1200px) {
  .navbar-large {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding:15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-small {
    display:none;
  }

  .logo {
    width: 30vw;
  }

  .ham-menu {
    display:none;
  }

  .menu-large {
    list-style: none;
    display: inline-flex;
  }

  .nav-large ul {
    margin-top: 1rem;
  }

  .nav-large li {
    margin-inline: 1em;
  }

  .nav-large a {
    font-weight: 600;
    color: #333359;
    transition: color 0.15s
  }

  .nav-large a:focus,.nav-large a:hover {
    color:#ec7628;
    text-decoration: underline;
  }


}
