.feature {
  margin-top: 1vh;
  margin-bottom: 5vh;
  width:75%;
}

.title {
  margin-bottom: 2vh;
  margin-top: 2vh;
  text-align: center;
}

.image-container {
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 2vh;
}

.responsive-image {
  width: auto;
  height: 250px;
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.image-top img{
  width:100%;
  height:auto;
}

@media (min-width: 1200px) {
  .text-content {
    text-align:left;
  }

  .feature-description {
    width: 75%;
    margin: auto;
  }

}
